.page-title {
    font-size: 30px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.recipe-titles {
    color: black;
    font-size: 22px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.recipe-title-images {
    width: 400px;
    height: auto;
}
